<header class="header">
  <a routerLink="/"><img src="img/logo2.jpeg" class="logo" alt="Logo"></a>

  <div class="menu" (click)="toggleMenu()">
    <div class="line" [class.active]="isMenuOpen"></div>
    <div class="line" [class.active]="isMenuOpen"></div>
    <div class="line" [class.active]="isMenuOpen"></div>
  </div>

  <nav class="navbar" [class.active]="isMenuOpen">
    <a routerLink="/">Accueil</a>
    <a routerLink="/nos-plats">Nos Plats</a>
    <a routerLink="/nos-boissons">Nos Boissons</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/login">Se connecter</a>
  </nav>
</header>
