<aside class="sidebar" [ngClass]="{'collapsed': collapsed && !isMobile, 'mobile-open': isMobile && mobileOpen}">


  <!-- le header de notre sidebar -->
  <header class="sidebar-header">
    <a routerLink="/admin">
      <img src="img/logo2.jpeg" alt="logo Teranga Snack" class="header-logo" *ngIf="!collapsed">
    </a>
     <button class="sidebar-toggle" (click)="onToggleSidebar()">
      <span class="material-symbols-rounded">

        {{ collapsed ? 'chevron_right' : 'chevron_left' }}
      </span>
    </button>
  </header>

  <!-- Le contenue de notre sidebar -->
  <div class="sidebar-content">
    <ul class="menu-list">

      <!-- dashboard -->
      <li class="menu-item">
        <a routerLink="/admin" class="menu-link">
          <span class="material-symbols-rounded">
            dashboard
          </span>
          <span *ngIf="!collapsed">Tableau de bord</span>
        </a>
      </li>

      <!-- Commandes -->
      <li class="menu-item">
        <a routerLink="commandes" class="menu-link">
          <span class="material-symbols-rounded">
            shopping_bag
          </span>
          <span *ngIf="!collapsed">Commandes</span>
        </a>
      </li>

      <!-- Nos Plats -->
      <li class="menu-item">
        <a routerLink="plats" class="menu-link">
          <span class="material-symbols-rounded">
            dining
          </span>
          <span *ngIf="!collapsed">Plats</span>
        </a>
      </li>


      <!-- Nos Plats -->
      <li class="menu-item">
        <a routerLink="boissons" class="menu-link">
          <span class="material-symbols-rounded">
            water_full
          </span>
          <span *ngIf="!collapsed">Boissons</span>
        </a>
      </li>

      <!-- Utilisateurs -->
      <li class="menu-item">
        <a routerLink="utilisateurs" class="menu-link">
          <span class="material-symbols-rounded">
            group
          </span>
          <span *ngIf="!collapsed">Utilisateurs</span>
        </a>
      </li>

      <!-- Reduction -->
      <li class="menu-item">
        <a routerLink="reductions" class="menu-link">
          <span class="material-symbols-rounded">
            shape_line
          </span>
          <span *ngIf="!collapsed">Reductions</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-footer">
    <button class="logout">
          <span class="material-symbols-rounded">
            logout
          </span>
          <span *ngIf="!collapsed">Se Deconnecter</span>
    </button>
  </div>

</aside>