<section class="landing-page">
    <div class="landing-action">
        <div class="landing-contain">
            <h1 class="title">Bienvenue chez <span>Teranga Snack</span></h1>
            <h2 class="subtitle">La saveur rapide qui réchauffe votre journée.</h2>
            <p class="slogan">Goûtez la tradition, vivez la rapidité</p>
            <p class="accroche">Commandez en ligne, récupérez vite, savourez mieux.</p>
            <div class="flex-contain">
                <div class="button-section">
                    <button class="action">Commande rapide</button>
                    <button class="contact">Nous contacter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-image">
        <img src="img/burger2.png" alt="">
    </div>
</section>

<section class="food-section">
  <app-food-card></app-food-card>
  <app-food-card></app-food-card>
  <app-food-card></app-food-card>
  <app-food-card></app-food-card>
</section>
